<!DOCTYPE html><!-----------       GALLERY PAGE         ---------->

{{- $secretPassword := "awsum" }}
{{- $useHeader := true -}}
{{- $useSidebar := true -}}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- block "meta_tags" . }}{{ end -}}
  <link rel="icon" href="{{ "favicon.ico" | absURL}}">
  {{- if .Site.IsServer -}}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{- else -}}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{- end -}}

  {{- block "header_css" . }}{{ end }}

        <script type="text/javascript">
            var GalleryEditSettings = {
                url: '{{- .Params.url -}}',
                title: '{{- .Params.title -}}',
                subA: '{{- .Params.subA -}}',
                subB: '{{- .Params.subB -}}',
                month: '{{- .Params.month -}}',
                year: '{{- .Params.year -}}',
            };
            var passwordHash = '{{- md5 $secretPassword -}}';
        </script>

</head>

<body class='page{{ block "body_classes" . }}{{ end }}'>

    {{- if $useSidebar }}{{ partial "gallery-sidebar.html" . }}{{ end -}}

    {{- if $useHeader }}{{ partial "gallery-header.html" . }}{{ end -}}
    
    {{- $galleryData := .Params.gallery_data -}} 
    {{- $allResources := .Resources -}}
    {{- $microscopicw := default "30x q16 Linear" -}}
    {{- $tinyw := default "400x" -}}
    {{- $smallw := default "700x" -}}
    {{- $mediumw := default "1200x" -}}
    {{- $largew := default "1800x" -}}
    {{- $hundred := 100 -}}

    <div class="page-shell">
        <div class="page-column">
            
                <div id="page-details"></div>
            
                <div id="good-pics">
                {{- range $index, $resource := $galleryData -}}

                    {{- if $allResources.GetMatch $resource.src -}}
                        {{- $src := $allResources.GetMatch $resource.src -}}
                        
                        {{- $microscopic := $src.Resize $microscopicw -}}
                        {{- $tiny := $src.Resize $tinyw -}}
                        {{- $small := $src.Resize $smallw -}}
                        {{- $medium := $src.Resize $mediumw -}}
                        {{- $large := $src.Resize $largew -}}
                    
                        <div class="photoframe" data-pic-order="{{$index}}">
                            <div class="photo-inner-frame" onclick="baguetteBox.show({{$index}}, gallery[0]);">
                                <div class="photo-spacer" 
                                     data-height-ratio="{{- (div (mul $src.Height 100) $src.Width) -}}" >
                                </div>
                                <img class="gallery-pic lazy"
                                    alt='{{$resource.description}}'
                                    src="data:image/jpeg;base64,{{ $microscopic.Content | base64Encode }}" 
                                    data-filename="{{ $src.Name }}"
                                    data-tiny="{{- with $tiny.RelPermalink }}{{.}}{{ end -}}" 
                                    data-srcset='
    {{ if ge $src.Width "400" }}{{ with $tiny.RelPermalink }}{{.}} 400w{{ end }}{{ end -}}
    {{- if ge $src.Width "700" }}{{ with $small.RelPermalink }}, 
    {{. }} 700w{{ end }}{{ end -}}
    {{- if ge $src.Width "1200" }}{{ with $medium.RelPermalink }}, 
    {{.}} 1200w{{ end }}{{ end -}}
    {{- if ge $src.Width "1800" }}{{ with $large.RelPermalink }}, 
    {{.}} 1800w {{ end }}{{ end -}}'>
                            </div>

                                <div class="description-block" 
                                     data-original="{{- $resource.description | safeHTML -}}">
                                    <div class="original-description">
                                        {{- $resource.description | safeHTML -}}
                                    </div>                                    
                                </div>
                                

                        </div>
                
                    {{- else -}}
                        <div class="photoframe">
                            <div class="describo">NOT FOUND: <br /><br /> {{ $resource.src }}</div>
                        </div>
                        
                    {{- end -}}

                {{- end -}}
                    
                </div> <!-- end #good-pics -->

                <div id="gallery-list" class="lightbox-gallery-list">
                {{- range $index, $resource := $galleryData -}}
                    {{- if $allResources.GetMatch $resource.src -}}
                        {{- $src := $allResources.GetMatch $resource.src -}}
                        <a href="{{ $src.RelPermalink }}" data-caption="{{ $resource.description }}">
                            {{- $resource.title -}}
                        </a>
                    {{- end -}}
                {{- end -}}
                </div>
                    
        </div>


        {{- partial "sub-footer.html" . }}
        
        {{- block "footer_js" . }}
        {{- end -}}

    </div> 
    <div id="unused-pics-wrap"><div id="unused-pics"></div></div>
    
    <script src="/js/gallery-app.js"></script>
    
</body>

</html>
